data/**
data_reduced/**
preprocessed/**
Lu/**
*.pyc
*.ipynb_checkpoints
*.dat
Rapport_Lab6/Rapport_lab6.log
Rapport_Lab6/Rapport_lab6.out
Rapport_Lab6/Rapport_lab6.bbl
Rapport_Lab6/Rapport_lab6.aux
Rapport_Lab6/Rapport_lab6.blg
Rapport_Lab6/Rapport_lab6.fdb_latexmk
Rapport_Lab6/Rapport_lab6.fls
Rapport_Lab6/Rapport_lab6.synctex.gz

